.intro-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #fff5ec, #ffe8d6);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .intro-left {
    flex: 1;
    padding-right: 20px;
    margin-left: 120px;
  }
  
  .intro-title {
    font-size: 2.5rem;
    color: #FC8E40;
    margin-bottom: 20px;
    font-family:"Cinzel Decorative";
  }
  
  .intro-description {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.6;
    font-family: "Roboto";
  }
  
  .visit-repo-btn {
    background-color: #FC8E40;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

.visit-repo-btn:hover {
    background-color: #E67935;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

.visit-repo-btn:active {
    background-color: #D86A26;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transform: translateY(0);
  }
  
  .intro-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }
  
  .card-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 576px) {
    .intro-banner {
      padding: 20px;
    }
    
    .intro-left{
      margin: 0;

    }

    .intro-right{
      margin: 0;
    }
    .intro-description {
      font-size: 0.9rem;
    }
  
    .visit-repo-btn {
      font-size: 12px;
      padding: 6px 12px;
    }
  
    .card-image {
      width: 200px;
      height: 200px;

    }
  }
  
  @media (max-width: 360px) {
    .intro-title {
      font-size: 1.5rem;
    }
  
    .intro-description {
      font-size: 0.8rem;
      line-height: 1.4;
    }
  
    .visit-repo-btn {
      font-size: 11px;
      padding: 5px 10px;
    }
  
    .card-image {
      width: 150px;
      height: 150px;
    }

    .intro-left{
      margin: 0;

    }

    .intro-right{
      margin: 0;
    }
  }